// components - atomic
@import 
  "../components/atomic/audio-player/audio-player",
  "../components/atomic/youtube-video-player/youtube-video-player";

// components - molecules
@import "../components/molecules/pronunciation/pronunciation";

// Views specific
@import 
  "../views/Definition/definition", 
  "../views/Home/home";

h1 {
  margin-bottom: 0.25em;
  color: #606060;
  font-size: 28px;
  font-family: Montserrat;
  font-weight: 700;
}
