@use "uswds-core" as *;

.az-list {
	padding-top: 16px;

	.browse {
		float: none;
		margin-right: 12px;
	}

	& > ul {
		display: inline;

		& > li {
			display: inline-block;
			margin-left: 0;
			margin-right: .5em;
			line-height: 21.6px;

			/* Bar between letters in az list */
			+ li::before{
				content: "|";
				color: #F0F0F0;
				padding-right: .5em;
			}

			& a {
				color: #01679D;
				font-weight: 400;
				font-style: normal;
				line-height: 21.6px;
				@include u-font(sans, 'xs');
				text-decoration-line: underline;
				text-decoration-style: solid;
				text-decoration-skip-ink: none;
				text-decoration-thickness: auto;
				text-underline-offset: auto;
				text-underline-position: from-font;

				&:hover {
					color: #004971
				}
			}
		}
	}
}
