.btnAudio {
	appearance: none;
	background-color: white;
	cursor: pointer;
	height: 24px;
	padding: 0;
	position: relative;
	width: 24px;
	border: 0;

	&::before {
		// when idle, show volume up icon
		content: '';
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIj4KPHBhdGggZD0iTTMgOC45OTk5OFYxNUg3TDEyIDIwVjMuOTk5OThMNyA4Ljk5OTk4SDNaTTE2LjUgMTJDMTYuNDk5OCAxMS4xNjIxIDE2LjI2NTcgMTAuMzQwOSAxNS44MjQgOS42Mjg5MkMxNS4zODIzIDguOTE2OTIgMTQuNzUwNiA4LjM0MjM3IDE0IDcuOTY5OThWMTYuMDJDMTUuNDggMTUuMjkgMTYuNSAxMy43NyAxNi41IDEyWk0xNCAzLjIyOTk4VjUuMjg5OThDMTYuODkgNi4xNDk5OCAxOSA4LjgyOTk4IDE5IDEyQzE5IDE1LjE3IDE2Ljg5IDE3Ljg1IDE0IDE4LjcxVjIwLjc3QzE4LjAxIDE5Ljg2IDIxIDE2LjI4IDIxIDEyQzIxIDcuNzE5OTggMTguMDEgNC4xMzk5OCAxNCAzLjIyOTk4WiIgZmlsbD0iIzAxNjc5RCIvPgo8L3N2Zz4=');
		background-repeat: no-repeat;
		display: inline-block;
		height: 1.5em;
		vertical-align: middle;
		width: 1.5em;
		margin-bottom: 5px;
	}
	&.paused {
		// on hover/focus or when track is paused, show play
		&::before {
			background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIj4KPHBhdGggZD0iTTUgNFYyMEwxOCAxMkw1IDRaIiBmaWxsPSIjMDE2NzlEIi8+Cjwvc3ZnPg==');
		}
	}
	&.playing {
		&::before {
			// while playing, show pause icon
			background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIj4KPHBhdGggZD0iTTUgMjBIOS42NjY2N1Y0SDVWMjBaTTE0LjMzMzMgNFYyMEgxOVY0SDE0LjMzMzNaIiBmaWxsPSIjMDE2NzlEIi8+Cjwvc3ZnPg==');
		}
	}
	&.error {
		pointer-events: none;
		&::before {
			// error occurred while playing, show error icon
			background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIj4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDJDNi40OCAyIDIgNi40OCAyIDEyQzIgMTcuNTIgNi40OCAyMiAxMiAyMkMxNy41MiAyMiAyMiAxNy41MiAyMiAxMkMyMiA2LjQ4IDE3LjUyIDIgMTIgMlpNMTMgMTdIMTFWMTVIMTNWMTdaTTEzIDEzSDExVjdIMTNWMTNaIiBmaWxsPSIjRTQxMTU0Ii8+Cjwvc3ZnPg==');
		}
	}
}
