.radio {
  margin-top: 2em;
  display: inline-block;
  margin-right: 15px;
}

.dictionary-search-input {
  display: inline-block;
  width: 65%;
}

.button {
  display: inline-block;
  width: 20%;
  margin-left: 1em;
}
